Server/node_modules/
Server/.env
*.env
.vscode/
*.log
Client/Assets/Images/kl\ lebelo.jpeg
Client/Assets/Images/kamo.jpeg
Client/Assets/Images/musa.jpeg
Client/Assets/Images/t.thomo.jpeg
Client/Assets/Images/tadiwa.jpg
Client/node_modules/