
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #0b3d91, #020c1b);
    color: #e0e6ed;
    height: 100vh;
    
}  



header {
    padding: 20px;
}

header a {
    text-decoration: none;
    color: #ffd700;
    font-weight: bold;
    font-size: 14px;
}

header a:hover {
    text-decoration: underline;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


main > div {
    background: #0f172a;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.5);
    text-align: center;
    width: 600px;
}


button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #ffd700, #e6c200);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #0b3d91;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    background: #ffcc00;
}


main div div:last-child {
    margin-top: 20px;
    font-size: 14px;
}


main a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

main a:hover {
    text-decoration: underline;
}


footer {
    height: 20px;
}